.lt-grey { color: #555 !important;}

.vlt-grey { color: $vlt-grey !important;}

.mid-grey { color: $mid-grey !important;}

.blue { color: $blue;}

.yellow { color:$yellow;}

.green { color: $green;}

.mid-green { color: $mid-green;}

.dk-green { color: $dk-green;}

.white { color: $white;}

.grey-bg { background: $grey;}

.lt-grey-bg { background: $lt-grey !important;}

.vlt-grey-bg { background: $vlt-grey;}

.mid-grey-bg { background: $mid-grey;}

.blue-bg { background: $blue;}

.yellow-bg { background:$yellow;}

.green-bg { background: $green;}

.mid-green-bg { background: $mid-green;}

.dk-green-bg { background: $dk-green;}

.white-bg { background: $white;}

.italic { font-style: italic;}

.normal { font-weight: normal;}

.bold { font-weight: bold;}

.light { font-weight: 200;}

.medium { font-weight: 500;}

.xbold { font-weight: 900;}

.center { text-align: center;}

.upper { text-transform: uppercase;}

.lower { text-transform: lowercase;}

.space { letter-spacing: .05em;}

.xspace { letter-spacing: .1em;}

.fleft { float: left;}

.fright { float: right; }

.shadow {
  text-shadow: 2px 2px 1px #000;
}

.topSPACE{
  padding-top: 1%;
}

.emptyspace{
  padding-top: 5%;
}


.backdrop{
  position: relative;
    -webkit-transition: all .3s;
            transition: all .3s;
    background-color: rgba(0, 0, 0, .6);
  font-family: Palatino; !important
  font-weight: bold;}

  .nobackdrop{
    font-family: Palatino; !important
    font-weight: bold;}

.headerAJ{
  position: absolute;
  z-index: 1200;
  top: 0;
  width: 100%;
  background: #0e4b3b;

}

@font-face {
  font-family: Palatino;
  src: url("../vendor/Palatino.ttf");
}

.palatino{
  font-family: Palatino;
}

.wrapper iframe {
    top: 0;
    left: 0;
    width: 100%;
}

/*
form start
*/


/*
form end
*/

#wrapperN .textN {
position:relative;
bottom:30px;
left:0px;
visibility:hidden;
}

#wrapperN:hover .textN {
visibility:visible;
}
